body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    text-align: center;
    border-bottom: 2px solid #444;
}

.btn {
    background-color: #444;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.btn:hover {
    background-color: #555;
    animation: 0.2s ease-in 0s 1 normal running btn-hover;
}
@keyframes btn-hover {
    from { background-color: #444; }
    to { background-color: #555; }
}

.timer-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.timer{
    background-color: #444;
    margin: 0 1rem;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    width: 30vw;
}
h2{
    margin: 10px auto;
    padding: 15px 25px;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    font-size: 24px;
    margin-top: 10px;
}

.leaderboard {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}

.player {
    background-color: #444;
    margin: 10px auto;
    padding: 15px 25px;
    width: 70vw;
    height: 4vh;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-info {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    margin-right: 1rem;
    height: 3rem;
}

.player-name {
    font-size: 18px;
    font-weight: normal;
}

.player-time {
    font-size: 22px;
    font-weight: bold;
}
